/******************************************************************************
 * WATS1010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

body {
  margin: 0;
}
header {
  font-family: Times Roman;
  background-image: url('../img/weybec/monkaa_title.jpg');
}
social {
  background: pink;
  position: right;
}
#social ul {
  list-style-type: none;
  padding: 0;
  position: absolute;
  top: 50px;
  right: 0;
  width: 25px;
}
#social: hover {
  width: 250px;
}
#social li {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 25px;
}